.App {
  height: 100vh;
  background-color: #15803d;
}

.header{
   color: #f59e0b;
   padding-left: 30px;
   font-size: large;
   padding-left: 20px;
   padding-top: 10px;
}

.clickPhoto{
  box-sizing: border-box;
}

.col{
  width: 20%;
  float: left;
  padding: 35px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img{
  width: 100%;
}

.score{
  font-size: xx-large;
  color: #f59e0b;
  padding-left: 50px;
}



